---
interface Props {
  bgSvg?: string;  
  bgColor?: string;   
  image?: string;     
  text?: string;     
  textStyle?: string;
  textOrigin?: "topRight" | "bottomLeft" | "topLeft" | "bottomRight" | "top" | "bottom" | "Left" | "Right";
  imageOrigin?: "topRight" | "bottomLeft" | "topLeft" | "bottomRight" | "top" | "bottom" | "Left" | "Right";
}

const {
  bgSvg = "",
  bgColor= "",
  image = "/images/default.jpg",
  text = "Texto de ejemplo",
  textStyle = "",
  imageOrigin = "bottomLeft",
  textOrigin = "topRight",
} = Astro.props;

import AnimateEntrance from './animations/AnimateEntrance';
---

<section 
  class="relative w-full flex items-center justify-center px-4 md:px-8 lg:px-12 py-12"
style={`background: ${
    bgColor ? bgColor : `url(${bgSvg})`
  }; background-size: cover; background-position: center;`}>
  <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 items-center gap-y-8 md:gap-x-16">
    
    <!-- Texto -->
   <AnimateEntrance client:load origin={textOrigin} useScrollTrigger={false} triggerClass="title-col" stagger={0.2}>
    <div class="flex flex-col justify-center text-right z-10 order-1 md:order-1 title-col">
      <h2 class={`${textStyle}`}>
        {text}
      </h2>
    </div>
    </AnimateEntrance>
    <!-- Imagen -->
    <AnimateEntrance client:load origin={imageOrigin} useScrollTrigger={false} triggerClass="image-col" stagger={0.2}>
    <div class="flex justify-center md:justify-start order-2 md:order-2 md:ml-4 image-col">
      <img 
        src={image} 
        alt="Imagen decorativa"
        class="rounded-xl shadow-lg object-cover w-[580px] h-[340px]"
      />
    </div>
  </AnimateEntrance>
  </div>
</section>
