---
import AnimateEntrance from './animations/AnimateEntrance';

interface Props {
  bgImage?: string;
  image: string;
  imagePosition?: "left" | "right";
  title?: string;
  titleStyle?: string;
  titleOrigin?: "topRight" | "bottomLeft" | "topLeft" | "bottomRight" | "top" | "bottom" | "Left" | "Right";
  imageOrigin?: "topRight" | "bottomLeft" | "topLeft" | "bottomRight" | "top" | "bottom" | "Left" | "Right";
}

const {
  bgImage = "/images/Card.svg",
  image = "/images/Card.svg",
  imagePosition = "right",
  title = "",
  titleStyle = "",
  titleOrigin = "topRight",
  imageOrigin = "top",
} = Astro.props;
---

<section
  class="relative w-full flex flex-col md:flex-row items-stretch h-[400px]"
  style={`background-image: url(${bgImage}); background-size: cover; background-position: center;`}
>
  <!-- Imagen a la izquierda -->
  {imagePosition === "left" && (
   <div
    class={`w-full md:w-1/2 h-full overflow-hidden flex items-center justify-center order-2 md:order-none`}
  >     <AnimateEntrance client:load origin={imageOrigin} useScrollTrigger={true} triggerClass="image-col" stagger={0.2}>
        <img
          src={image}
          alt="Imagen lateral"
          class="w-full h-full object-contain object-center image-col"
        />
      </AnimateEntrance>
    </div>
  )}

  <!-- Contenedor de título -->
  <div
    class={`flex flex-col justify-center items-center text-center md:text-center w-full md:w-1/2 h-full p-6 md:p-10 order-1 md:order-none`}
  >    <AnimateEntrance client:load origin={titleOrigin} useScrollTrigger={true} triggerClass="title-col" stagger={0.2}>
      {title && <h2 class={`${titleStyle} title-col`}>{title}</h2>}
    </AnimateEntrance>
  </div>

  <!-- Imagen a la derecha -->
  {imagePosition === "right" && (
   <div
    class={`w-full md:w-1/2 h-full overflow-hidden flex items-center justify-center order-2 md:order-none`}
  >   <AnimateEntrance client:load origin={imageOrigin} useScrollTrigger={true} triggerClass="image-col" stagger={0.2}>
        <img
          src={image}
          alt="Imagen lateral"
          class="w-full h-full object-contain object-center image-col"
        />
      </AnimateEntrance>
    </div>
  )}
</section>
