---
import SlideDownOnScroll from "./animations/SlideDownOnScroll.tsx";

interface Props {
  backgroundImage?: string;
  title?: string;
  height?: string;
  titleColor?: string;
  titleSize?: string;
  titleWeight?: string;
  titleAlign?: string;
  maxWidth?: string;
}

const {
  backgroundImage = '',
  title = '',
  height = '',
  titleColor = '',
  titleSize = '',
  titleWeight = '',
  titleAlign = '',
  maxWidth = '',
} = Astro.props;
---
<SlideDownOnScroll client:load>
  <section
    class={`relative bg-cover bg-center overflow-hidden ${height}`}
    style={`background-image: url('${backgroundImage}');`}
  >
    <!-- Capa oscura opcional -->
    <div class="absolute inset-0 bg-black/30"></div>

    <!-- Contenido -->
    <div class={`relative z-10 flex flex-col justify-center h-full px-4 ${titleAlign}`}>
      <h1
        class={`${titleColor} ${titleSize} ${titleWeight} leading-tight ${maxWidth} mx-auto`}
      >
        {title}
      </h1>
    </div>
  </section>
</SlideDownOnScroll>


