---
import AnimateEntrance from './animations/AnimateEntrance';

interface Props {
  backgroundImage?: string;
  title?: string;
  height?: string;
  titleStyle?: string;
  origin?: "topRight" | "bottomLeft" | "topLeft" | "bottomRight" | "top" | "bottom" | "Left" | "Right"; // nueva prop
}

const {
  backgroundImage = '',
  title = '',
  height = '',
  titleStyle = 'titulo-principal',
  origin = "topRight", // valor por defecto
} = Astro.props;
---
<AnimateEntrance client:load origin={origin} useScrollTrigger={true} triggerClass="title-col" stagger={0.2}>
  <section
    class={`relative bg-cover bg-center overflow-hidden title-col ${height}`}
    style={`background-image: url('${backgroundImage}');`}
  >
    <!-- Capa oscura opcional -->
    <div class="absolute inset-0 bg-black/30"></div>

    <!-- Contenido -->
    <div class="relative z-10 flex flex-col justify-center h-full px-4">
      <h1 class={`${titleStyle} mx-auto`}>
        {title}
      </h1>
    </div>
  </section>
</AnimateEntrance>
